.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1a1a;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.navbar-logo {
    color: white;
    font-size: 20px;
}

.navbar-menu {
    display: flex;
    list-style-type: none;
    gap: 30px;
    margin: 0;
    align-items: center;
}

.navbar-menu li a{
    text-decoration: none;
    color: white;
}