.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    margin-bottom: 20px;
    background-color: rgb(34, 40, 49);
    color: rgb(238, 238, 238);
}

.navbar-logo {
    font-size: 20px;
}

.navbar-menu {
    display: flex;
    list-style-type: none;
    gap: 30px;
    margin: 0;
    align-items: center;
}

.navbar-menu li a{
    text-decoration: none;
}